body {
    margin: 0 auto;
    background-image: linear-gradient(to top, #0acffe 0%, #495aff 100%);
    background-size: contain;
    background-repeat: no-repeat;
}

#margin-bottom {
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 20px;
}

#currentUser {
    display: inline-block;
    font-size: smaller;
}

.container-blog {
    margin-top: 50px;
}

.stick {
    background-color: rgb(245, 245, 245);
    padding: 50px;
    border-radius: 20px;
    width: 60%;
    margin: 100px auto;
}

.stick-2 {
    visibility: hidden;
}

#btnLogin, #btnSignUp, #btnLogout {
    margin-top: 20px;
}

#btnLogout {
    background-color: #0acffe !important;
}

#btnPost {
    background-color: #495aff !important;
}

input:focus {
    border-bottom: 1px solid #d63636 !important;
}