body {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
}

#txtPassword {
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 20px;
}


