body {
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #001aff 0%, #2ee2ff 100%);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 50px; */
}

button {
    box-shadow: none !important;
}

#margin-bottom {
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 50px;
}

#currentUser {
    display: inline-block;
    font-size: smaller;
}

.container-blog {
    margin-top: 50px;
}

.cont-padding {
    background-color: rgb(245, 245, 245);
    padding: 50px;
    border-radius: 10px;
    width: 60%;
}

#btnLogin {
    margin-top: 40px;
    border: 1px solid #495aff !important;
    background-color: #495aff !important;
}

#btnSignup {
    margin-top: 40px;
    background-color: #6876ff !important;
    border-color:  #6876ff !important
}

#btnLogout {
    border: 1px solid #0acffe !important;
    margin-top: 21px;
    margin-bottom: 10px;
}

#btnLogin:hover, #btnSignup:hover {
    background-color: rgb(245, 245, 245) !important;
    color: black;
    transition: 0s ease-in-out !important;
    box-shadow: none !important;
    border: 1px solid #495aff !important;
}

#btnLogout:hover {
    border: 1px solid #0acffe !important;
    background-color: rgb(245, 245, 245) !important;
    color: black;
}

#btnLogout {
    background-color: #0acffe !important;
    visibility: hidden;
}

#btnPost {
    background-color: #495aff !important;
}

#btnPost:hover {
    border: 1px solid #495aff !important;
    color: #495aff !important;
    background-color: rgb(245, 245, 245) !important;
}

input:focus {
    box-shadow: 0px 0px 0px white !important;
    border-bottom: 1px solid rgb(4, 0, 255) !important;
}

#message, #message2 {
    margin-left: 0;
    margin-top: 20px;
}

#message {
    color: rgb(255, 0, 98);
}

#message2 {
    color: rgb(165, 165, 165);
}

#loginForm {
    height: 50%;
}

#actionSuccessful {
    margin-top: 10px;
}

#succesForm, #blogForm, #blogResults {
    display: none;
}

#succesForm {
    padding: 20px 50px;
}

h6 {
    color: rgb(165, 165, 165);
    font-size: 100%;
    margin-bottom: 15px;
}

#blogTitle {
    border: none !important;
}

@media only screen and (max-width: 600px) {
    .cont-padding {
        padding: 10px 30px;
        flex-direction: row;
    }
}

.lined {
    box-shadow: 3px 3px 3px rgb(206, 206, 206);
    padding: 30px;
    margin-bottom: 50px;    
    border-radius: 10px;
}

h5 {
    font-weight: bold;
    color: black;
    font-size: 150%;
}

.go-low {
    margin-bottom: 20px;
}