// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #495aff;
$color-purple: #6876ff;
$color-lightblue: #0acffe;
$color-none: rgba(245, 245, 245, 0);
$color-pink: rgb(255, 0, 98);
$color-faded-light: rgba(245, 245, 245, 0.7);
$color-faded-heavy: rgba(245, 245, 245, 0.3);
$color-lightgrey: rgb(165, 165, 165);
$color-orange: orange;

// margin 
$btn-top-margin: 40px;
$main-top-margin: 50px;
$main-bottom-margin: 50px;
$small-top-margin: 20px;
$center: margin 0 auto;

// padding
$main-form-padding: 50px;

//border radius
$main-border-radius: 7px;
